<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Vault uses the camera to allow importing data visually, such as scanning QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Vault uses biometrics to locally protect access to your data.</string>
</dict>
</plist>
