# format options

--swiftversion 6.2

--allman false
--binarygrouping 4,8
--commas always
--decimalgrouping 3,6
--elseposition same-line
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--fractiongrouping disabled
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping testable-bottom
--indent 4
--indentcase false
--linebreaks lf
--maxwidth 120
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--stripunusedargs always
--trailing-commas always
--trimwhitespace always
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--wrapreturntype preserve

# rules

--enable isEmpty
--enable todos
--enable throwingTests
--disable hoistAwait
